@import url('https://fonts.googleapis.com/css?family=Lato:300');
@font-face{
	font-family: 'Miso';
	src:url(../fonts/miso.eot);
	src:url(../fonts/miso.ttf),
		url(../fonts/miso.woff);
	font-weight: 400;
	font-style: normal;
}

body{
	font-family: 300 20px/1.3 'Lato', sans-serif;
	background: #fdde7e;
	color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container__bronze,
.container__gold,
.container__silver{
	background: #fff;
	width: 360px;
	height: 445px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 0 10px 0 #999;
	transition: all .25s;
}
/*.container__gold{
	height: 500px;
}*/
.container__gold:hover,
.container__gold.active,
.container__silver:hover,
.container__silver.active,
.container__bronze.active,
.container__bronze:hover{
	transform: scale(1.12);
	box-shadow: 0 0 20px 0 #999;
}
.container__prise{
	display: inline-block;
	color: #02995b;
	font: 700 70px/1 'Miso', sans-serif;
}
.container__prise::before{
	content: attr(data-currency);
}
.container__title{
	display: inline-block;
	font: 400 56px/1 'Miso', sans-serif;
	
}
.container__text{
	display: inline-block;
	color: #4e4e4e;
	width: 40%;
	margin: 0 auto;
}
